.card{
    width: 33rem;
    min-height: 25rem;
    border: 1px solid #EBEBEB;
    padding: 2rem;
    background: radial-gradient(#EBEBEB, lightgray);
}
.card__name{
    font-size: 2.5rem;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    min-height: 6.111rem;
}
.card__li-desc{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: blue;
}
.card__li-cont{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card__btns{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 2rem;
}
.card__btn-trash,
.card__btn-edit {
    font-size: 2.5rem;
    border: none;
}
.card__btn-trash{
    background-color: red;
    color: white;
    transition: background-color 300ms;
}
.card__btn-trash:hover{
    background-color: #AA0000;
    
}
.card__btn-edit{
    background-color: yellow;
    color: grey;
    transition: background-color 300ms;
}
.card__btn-edit:hover{
    background-color: #AAAA00;
}
.pt{
    font-size: 2rem;
}
.bd{
    display: inline;
}